In [74]:
import pandas as pd
import numpy as np

In [75]:
df = pd.read_csv('Aemf1.csv')

In [76]:
df.head()

,City,Price,Day,Room Type,Shared Room,Private Room,Person Capacity,Superhost,Multiple Rooms,Business,Cleanliness Rating,Guest Satisfaction,Bedrooms,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index
0,Amsterdam,194.033698,Weekday,Private room,False,True,2.0,False,1,0,10.0,93.0,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473
1,Amsterdam,344.245776,Weekday,Private room,False,True,4.0,False,0,0,8.0,85.0,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928
2,Amsterdam,264.101422,Weekday,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700
3,Amsterdam,433.529398,Weekday,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565
4,Amsterdam,485.552926,Weekday,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677

In [77]:
df.shape

(41714, 19)

In [78]:
df.describe

<bound method NDFrame.describe of             City       Price      Day        Room Type  Shared Room  \
0      Amsterdam  194.033698  Weekday     Private room        False
1      Amsterdam  344.245776  Weekday     Private room        False
2      Amsterdam  264.101422  Weekday     Private room        False
3      Amsterdam  433.529398  Weekday     Private room        False
4      Amsterdam  485.552926  Weekday     Private room        False
...          ...         ...      ...              ...          ...
41709     Vienna  715.938574  Weekend  Entire home/apt        False
41710     Vienna  304.793960  Weekend  Entire home/apt        False
41711     Vienna  637.168969  Weekend  Entire home/apt        False
41712     Vienna  301.054157  Weekend     Private room        False
41713     Vienna  133.230489  Weekend     Private room        False

       Private Room  Person Capacity  Superhost  Multiple Rooms  Business  \
0              True              2.0      False               1         0
1              True              4.0      False               0         0
2              True              2.0      False               0         1
3              True              4.0      False               0         1
4              True              2.0       True               0         0
...             ...              ...        ...             ...       ...
41709         False              6.0      False               0         1
41710         False              2.0      False               0         0
41711         False              2.0      False               0         0
41712          True              2.0      False               0         0
41713          True              4.0       True               1         0

       Cleanliness Rating  Guest Satisfaction  Bedrooms  City Center (km)  \
0                    10.0                93.0         1          5.022964
1                     8.0                85.0         1          0.488389
2                     9.0                87.0         1          5.748312
3                     9.0                90.0         2          0.384862
4                    10.0                98.0         1          0.544738
...                   ...                 ...       ...               ...
41709                10.0               100.0         3          0.530181
41710                 8.0                86.0         1          0.810205
41711                10.0                93.0         1          0.994051
41712                10.0                87.0         1          3.044100
41713                10.0                93.0         1          1.263932

       Metro Distance (km)  Attraction Index  Normalised Attraction Index  \
0                 2.539380         78.690379                     4.166708
1                 0.239404        631.176378                    33.421209
2                 3.651621         75.275877                     3.985908
3                 0.439876        493.272534                    26.119108
4                 0.318693        552.830324                    29.272733
...                    ...               ...                          ...
41709             0.135447        219.402478                    15.712158
41710             0.100839        204.970121                    14.678608
41711             0.202539        169.073402                    12.107921
41712             0.287435        109.236574                     7.822803
41713             0.480903        150.450381                    10.774264

       Restraunt Index  Normalised Restraunt Index
0            98.253896                    6.846473
1           837.280757                   58.342928
2            95.386955                    6.646700
3           875.033098                   60.973565
4           815.305740                   56.811677
...                ...                         ...
41709       438.756874                   10.604584
41710       342.182813                    8.270427
41711       282.296424                    6.822996
41712       158.563398                    3.832416
41713       225.247293                    5.444140

[41714 rows x 19 columns]>

In [79]:
df.isnull()

,City,Price,Day,Room Type,Shared Room,Private Room,Person Capacity,Superhost,Multiple Rooms,Business,Cleanliness Rating,Guest Satisfaction,Bedrooms,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41709,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41710,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41711,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41712,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
41713,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [80]:
df.isnull().sum()

City                           0
Price                          0
Day                            0
Room Type                      0
Shared Room                    0
Private Room                   0
Person Capacity                0
Superhost                      0
Multiple Rooms                 0
Business                       0
Cleanliness Rating             0
Guest Satisfaction             0
Bedrooms                       0
City Center (km)               0
Metro Distance (km)            0
Attraction Index               0
Normalised Attraction Index    0
Restraunt Index                0
Normalised Restraunt Index     0
dtype: int64

In [81]:
df = pd.get_dummies(data=df,columns=["Room Type","Day", "Shared Room", "Superhost", "Business","City","Private Room","Person Capacity", "Multiple Rooms","Cleanliness Rating","Guest Satisfaction","Bedrooms"],drop_first = True)

In [82]:
df.head(10)

,Price,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index,Room Type_Private room,Room Type_Shared room,Day_Weekend,...,Guest Satisfaction_99.0,Guest Satisfaction_100.0,Bedrooms_1,Bedrooms_2,Bedrooms_3,Bedrooms_4,Bedrooms_5,Bedrooms_6,Bedrooms_9,Bedrooms_10
0,194.033698,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,True,False,False,...,False,False,True,False,False,False,False,False,False,False
1,344.245776,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,True,False,False,...,False,False,True,False,False,False,False,False,False,False
2,264.101422,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,True,False,False,...,False,False,True,False,False,False,False,False,False,False
3,433.529398,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,True,False,False,...,False,False,False,True,False,False,False,False,False,False
4,485.552926,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,True,False,False,...,False,False,True,False,False,False,False,False,False,False
5,552.808567,2.131420,1.904668,174.788957,9.255191,225.201662,15.692376,True,False,False,...,False,True,False,True,False,False,False,False,False,False
6,215.124317,1.881092,0.729747,200.167652,10.599010,242.765524,16.916251,True,False,False,...,False,False,True,False,False,False,False,False,False,False
7,2771.307384,1.686807,1.458404,208.808109,11.056528,272.313823,18.975219,False,False,False,...,False,True,False,False,True,False,False,False,False,False
8,1001.804420,3.719141,1.196112,106.226456,5.624761,133.876202,9.328686,False,False,False,...,False,False,False,True,False,False,False,False,False,False
9,276.521454,3.142361,0.924404,206.252862,10.921226,238.291258,16.604478,True,False,False,...,False,False,True,False,False,False,False,False,False,False

In [83]:
from sklearn.preprocessing import MinMaxScaler

In [84]:
col= df.columns

In [85]:
scaler = MinMaxScaler()

In [86]:
scaler = scaler.fit_transform(df)

In [87]:
scaler
df=scaler

In [88]:
df = pd.DataFrame(df,columns=col)

In [89]:
df.head(10)

,Price,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index,Room Type_Private room,Room Type_Shared room,Day_Weekend,...,Guest Satisfaction_99.0,Guest Satisfaction_100.0,Bedrooms_1,Bedrooms_2,Bedrooms_3,Bedrooms_4,Bedrooms_5,Bedrooms_6,Bedrooms_9,Bedrooms_10
0,0.008603,0.198180,0.177775,0.014125,0.032707,0.011784,0.062910,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.016718,0.018732,0.016614,0.136943,0.327987,0.122473,0.580945,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.012389,0.226885,0.255711,0.013366,0.030882,0.011355,0.060900,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.021542,0.014635,0.030661,0.106286,0.254284,0.128128,0.607409,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.024352,0.020962,0.022170,0.119526,0.286115,0.119182,0.565541,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.027985,0.083752,0.133300,0.035487,0.084068,0.030798,0.151897,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.009743,0.073846,0.050973,0.041129,0.097631,0.033429,0.164208,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.147835,0.066157,0.102030,0.043050,0.102249,0.037854,0.184921,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
8,0.052241,0.146584,0.083651,0.020246,0.047424,0.017119,0.087880,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.013060,0.123758,0.064613,0.042482,0.100884,0.032758,0.161072,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Data splitting,testing and training

In [90]:
# DATA SPLITTING 80% training and 20% testing
from sklearn.model_selection import train_test_split

In [91]:
X=df.drop(['Price'],axis=1)
y=df['Price']

In [92]:
# 80% - training set (X_train, y_train)
# 20% - test set (X_test, y_test)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state=42)

In [93]:
X_train.head()

,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index,Room Type_Private room,Room Type_Shared room,Day_Weekend,Shared Room_True,...,Guest Satisfaction_99.0,Guest Satisfaction_100.0,Bedrooms_1,Bedrooms_2,Bedrooms_3,Bedrooms_4,Bedrooms_5,Bedrooms_6,Bedrooms_9,Bedrooms_10
17117,0.242199,0.055786,0.009249,0.009564,0.016403,0.052118,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6604,0.050704,0.011686,0.059852,0.098804,0.044860,0.041974,0.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20680,0.047318,0.042272,0.035850,0.049384,0.081523,0.312838,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
18760,0.069675,0.075936,0.026051,0.034751,0.056413,0.172300,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13988,0.046528,0.006855,0.039245,0.106034,0.068280,0.356211,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [94]:
# Create a new model
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

# Build the model using trained data

In [95]:
model1 = LinearRegression()
model1 = model1.fit(X_train, y_train)

In [96]:
model2 = DecisionTreeRegressor()
model2 = model2.fit(X_train, y_train)

In [97]:
model3 = RandomForestRegressor()
model3 = model3.fit(X_train, y_train)

In [98]:
# predict category for the test inputs
y_test_predictions = model1.predict(X_test)
y_test_predictions = model2.predict(X_test)
y_test_predictions = model3.predict(X_test)

In [99]:
#import metrics model
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error

# Calculate Metrics - MAE, MSE, and  RSME

In [101]:
predicted = model1.predict(X_test)

actual_vs_predicted = pd.DataFrame(
    {'Actual': y_test, 
     'Predicted':predicted}
)
# Show first 20 rows
actual_vs_predicted.head(20).round(2)

       Actual  Predicted
14125    0.00       0.00
36825    0.01       0.01
6890     0.01       0.02
24859    0.01       0.02
1808     0.04       0.04
21629    0.01       0.01
18491    0.00       0.00
32861    0.01       0.01
216      0.06       0.04
35560    0.01       0.01
30644    0.01       0.01
12337    0.01       0.01
41056    0.01       0.01
22921    0.02       0.02
33773    0.01       0.00
5262     0.01       0.01
21296    0.01       0.01
1503     0.06       0.04
38113    0.01       0.01
35260    0.01       0.00

In [102]:
predicted = model2.predict(X_test)

actual_vs_predicted = pd.DataFrame(
    {'Actual': y_test, 
     'Predicted':predicted}
)
# Show first 20 rows
actual_vs_predicted.head(20).round(2)

       Actual  Predicted
14125    0.00       0.00
36825    0.01       0.00
6890     0.01       0.01
24859    0.01       0.01
1808     0.04       0.03
21629    0.01       0.01
18491    0.00       0.01
32861    0.01       0.01
216      0.06       0.06
35560    0.01       0.00
30644    0.01       0.01
12337    0.01       0.01
41056    0.01       0.01
22921    0.02       0.01
33773    0.01       0.00
5262     0.01       0.01
21296    0.01       0.02
1503     0.06       0.06
38113    0.01       0.01
35260    0.01       0.01

In [103]:
MSE = mean_squared_error(
    y_true=y_test, # actual values
    y_pred=predicted # predicted values
)
MSE.round(2)

0.0

In [104]:
MAE = mean_squared_error(
    y_true=y_test, # actual values
    y_pred=predicted # predicted values
)
MAE.round(2)

0.0

In [105]:
# Square root of MSE gives RMSE
RMSE = MSE**(1/2)
RMSE.round(2)

0.02

# Finding Accuracy(r2 score)

In [107]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test,predicted)
print(round(r2, 2))

-0.07